#quiz-area, #score-area {
    border: solid black 2px;
    height: 300px;
    width: 600px;
    position: relative;
}

#quiz-area {
    background-color:aqua
}

#question-space {
    background-color: white;
    border: black 2px dotted
}

#start-button {
    position: absolute;
    left: 0;
    bottom: 0;
}

#time-display {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 30px;
    margin: 0;
}

#answer-space {
    display:flex;
    flex-direction: column;
}

#answer-space button {
    padding: 10px;
}

.choice {
    margin-right: 25px;
    margin-top: 10px;
    width: auto;
}

.hidden {
    display:none;
}